.idea/
node_modules/
dist/
public/
builds/
coverage/
target/
src/**/Cargo.lock
*.generated.pegjs
.env

packages/**/package-lock.json
packages/frontend/**/.DS_Store
.DS_Store
/webpack/cert/
/cert/

/packages/frontend/e2e-tests/cypress/screenshots/
/packages/frontend/e2e-tests/cypress/results/
/packages/frontend/e2e-tests/cypress/downloads/
/packages/frontend/e2e-tests/.env

/packages/frontend/e2e-smoke-tests/screenshots/
/packages/frontend/e2e-smoke-tests/results/
/packages/frontend/e2e-smoke-tests/.env

.nx/cache

# Next.js
.next

